.c-row-container {

    background-color: $color-white-off;
    height: 100%;
    overflow: auto;

    &__row {
        background-color: $color-white;
        border-bottom: 1px solid $color-grey-light;
        height: 100px;
        padding: 20px 0;
        width: 100%;

        &:last-child {
            box-shadow: 0 2px 8px 0 rgba($color-black, .1);
        }

    }

}

.c-row {
    height: 100%;
    position: relative;

    &__icon {
        width: 40px;

        &--small {
            width: 23px;
        }

    }

    &__title {
        @include inuit-font-size(28px);
        font-family: $font-family;
        font-weight: 500;
        letter-spacing: 0;
    }

    &__subtitle {
        @include inuit-font-size(12px);
        color: $color-grey-warm;
        font-family: $font-family;
        letter-spacing: 0;
    }

    &__cta {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 96px;
    }

}
