.c-button {
    @include inuit-font-size(14px);
    border: solid 1px $theme-primary;
    color: $theme-primary;
    cursor: pointer;
    font-family: $font-family;
    font-weight: 500;
    padding: 12px 15px;
    text-align: center;
    width: 100%;

    &--deactive {
        border-color: $color-grey-pink;
    }

}
