$_header-height: map-get($global-screen-sizes, 'header');
$_footer-height: map-get($global-screen-sizes, 'footer');
$_body-height: calc(100vh - (#{$_header-height} + #{$_footer-height}));

.c-screen {

    &--primary {

        .c-screen__header {
            background-color: $theme-primary;
            color: $color-white;
        }

        .c-screen__footer {
            background-color: $theme-primary-alt;
            color: $color-white;
        }

    }

    &__header,
    &__header-content {
        height: map-get($global-screen-sizes, 'header');
    }

    &__header-content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    &__title {
        @include inuit-font-size(32px);
        font-family: $font-family;
        font-weight: 500;
        letter-spacing: 0;
    }

    &__subtitle {
        @include inuit-font-size(12px);
        color: $color-grey-warm;
        font-family: $font-family;
        letter-spacing: 0;
    }

    &__body {
        height: $_body-height;
    }

    &__footer {
        height: map-get($global-screen-sizes, 'footer');
    }

}
