.c-footer-buttons {
    justify-content: center;
    display: flex;
    height: 100%;

    &__button {
        @include inuit-font-size(16px);
        align-items: center;
        background-color: $theme-primary-alt;
        color: $color-grey-pink;
        cursor: pointer;
        display: flex;
        font-family: $font-family;
        font-weight: 500;
        justify-content: center;
        letter-spacing: 0;
        text-decoration: none;
        width: 100%;

        &--active {
            background-color: $theme-primary;
            color: $color-white;
        }

    }

}
