///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$inuit-wrapper-width: 423px;

$font-family: 'Heebo', sans-serif;

$color-black: #3c3c3c;
$color-grey-warm: #a0a0a0;
$color-grey-pink: #d5d1ef;
$color-grey-light: #eaeaea;
$color-white-off: #f4f4f4;
$color-white: #ffffff;

$color-indigo: #331cb0;
$color-red: #d02555;
$color-blue-deep: #0a0379;

$theme-primary: $color-indigo;
$theme-primary-alt: $color-blue-deep;
$theme-secondary: $color-red;

$global-screen-sizes: (
    header: 140px,
    footer: 70px,
);
